MillstoneISR_1961_1975.txt
MillstoneISR_1976_1990.txt
MillstoneISR_1991_2010.txt
MillstoneISR_2011_2022.txt
MillstoneISRredo_1961_1975.txt
MillstoneISRredo_1970_1984.txt
MillstoneISRredo_1976_1985.txt
MillstoneISRredo_1986_1995.txt
MillstoneISRredo_1996_2010.txt
MillstoneISRredo_2011_2022.txt
son970106g.001.txt
sondrestromFullSet.txt
MillstoneVars.mat
SondVars.mat
givenMillVars.mat
Millstone_NoMM.mat
givenTECvsTime_Millstone.fig
Millstone_NoMM.mat
mill_sond.mat
madmatlab.html